@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltBlackI.eot');
    src: local('Artegra Sans Extended Alt Black Italic'), local('ArtegraSansExAltBlackI'),
        url('ArtegraSansExAltBlackI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltBlackI.woff2') format('woff2'),
        url('ArtegraSansExAltBlackI.woff') format('woff'),
        url('ArtegraSansExAltBlackI.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltBoldI.eot');
    src: local('Artegra Sans Extended Alt Bold Italic'), local('ArtegraSansExAltBoldI'),
        url('ArtegraSansExAltBoldI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltBoldI.woff2') format('woff2'),
        url('ArtegraSansExAltBoldI.woff') format('woff'),
        url('ArtegraSansExAltBoldI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltBlack.eot');
    src: local('Artegra Sans Extended Alt Black'), local('ArtegraSansExAltBlack'),
        url('ArtegraSansExAltBlack.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltBlack.woff2') format('woff2'),
        url('ArtegraSansExAltBlack.woff') format('woff'),
        url('ArtegraSansExAltBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltELight.eot');
    src: local('Artegra Sans Extended Alt ExtraLight'), local('ArtegraSansExAltELight'),
        url('ArtegraSansExAltELight.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltELight.woff2') format('woff2'),
        url('ArtegraSansExAltELight.woff') format('woff'),
        url('ArtegraSansExAltELight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltBold.eot');
    src: local('Artegra Sans Extended Alt Bold'), local('ArtegraSansExAltBold'),
        url('ArtegraSansExAltBold.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltBold.woff2') format('woff2'),
        url('ArtegraSansExAltBold.woff') format('woff'),
        url('ArtegraSansExAltBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltLightI.eot');
    src: local('Artegra Sans Extended Alt Light Italic'), local('ArtegraSansExAltLightI'),
        url('ArtegraSansExAltLightI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltLightI.woff2') format('woff2'),
        url('ArtegraSansExAltLightI.woff') format('woff'),
        url('ArtegraSansExAltLightI.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltRegI.eot');
    src: local('Artegra Sans Extended Alt Italic'), local('ArtegraSansExAltRegI'),
        url('ArtegraSansExAltRegI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltRegI.woff2') format('woff2'),
        url('ArtegraSansExAltRegI.woff') format('woff'),
        url('ArtegraSansExAltRegI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltSBold.eot');
    src: local('Artegra Sans Extended Alt SemiBold'), local('ArtegraSansExAltSBold'),
        url('ArtegraSansExAltSBold.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltSBold.woff2') format('woff2'),
        url('ArtegraSansExAltSBold.woff') format('woff'),
        url('ArtegraSansExAltSBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltMedium.eot');
    src: local('Artegra Sans Extended Alt Medium'), local('ArtegraSansExAltMedium'),
        url('ArtegraSansExAltMedium.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltMedium.woff2') format('woff2'),
        url('ArtegraSansExAltMedium.woff') format('woff'),
        url('ArtegraSansExAltMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltLight.eot');
    src: local('Artegra Sans Extended Alt Light'), local('ArtegraSansExAltLight'),
        url('ArtegraSansExAltLight.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltLight.woff2') format('woff2'),
        url('ArtegraSansExAltLight.woff') format('woff'),
        url('ArtegraSansExAltLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltThin.eot');
    src: local('Artegra Sans Extended Alt Thin'), local('ArtegraSansExAltThin'),
        url('ArtegraSansExAltThin.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltThin.woff2') format('woff2'),
        url('ArtegraSansExAltThin.woff') format('woff'),
        url('ArtegraSansExAltThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltRegular.eot');
    src: local('Artegra Sans Extended Alt'), local('ArtegraSansExAltRegular'),
        url('ArtegraSansExAltRegular.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltRegular.woff2') format('woff2'),
        url('ArtegraSansExAltRegular.woff') format('woff'),
        url('ArtegraSansExAltRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltEBold.eot');
    src: local('Artegra Sans Extended Alt ExtraBold'), local('ArtegraSansExAltEBold'),
        url('ArtegraSansExAltEBold.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltEBold.woff2') format('woff2'),
        url('ArtegraSansExAltEBold.woff') format('woff'),
        url('ArtegraSansExAltEBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltEBoldI.eot');
    src: local('Artegra Sans Extended Alt ExtraBold Italic'), local('ArtegraSansExAltEBoldI'),
        url('ArtegraSansExAltEBoldI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltEBoldI.woff2') format('woff2'),
        url('ArtegraSansExAltEBoldI.woff') format('woff'),
        url('ArtegraSansExAltEBoldI.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltThinI.eot');
    src: local('Artegra Sans Extended Alt Thin Italic'), local('ArtegraSansExAltThinI'),
        url('ArtegraSansExAltThinI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltThinI.woff2') format('woff2'),
        url('ArtegraSansExAltThinI.woff') format('woff'),
        url('ArtegraSansExAltThinI.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltMedI.eot');
    src: local('Artegra Sans Extended Alt Medium Italic'), local('ArtegraSansExAltMedI'),
        url('ArtegraSansExAltMedI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltMedI.woff2') format('woff2'),
        url('ArtegraSansExAltMedI.woff') format('woff'),
        url('ArtegraSansExAltMedI.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltELgtI.eot');
    src: local('Artegra Sans Extended Alt ExtraLight Italic'), local('ArtegraSansExAltELgtI'),
        url('ArtegraSansExAltELgtI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltELgtI.woff2') format('woff2'),
        url('ArtegraSansExAltELgtI.woff') format('woff'),
        url('ArtegraSansExAltELgtI.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('ArtegraSansExAltSBoldI.eot');
    src: local('Artegra Sans Extended Alt SemiBold Italic'), local('ArtegraSansExAltSBoldI'),
        url('ArtegraSansExAltSBoldI.eot?#iefix') format('embedded-opentype'),
        url('ArtegraSansExAltSBoldI.woff2') format('woff2'),
        url('ArtegraSansExAltSBoldI.woff') format('woff'),
        url('ArtegraSansExAltSBoldI.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

